imgtest {
  display: block;
  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.is_selected_btn {
   background-color: #62676c !important;
   color: white !important;
  border-color: #62676c !important;
}

.gallery {
  height: 70vh;
  display: flex;
}

.gallery_img {
  display: flex;
  position: relative;
  width: 50vw;
  height : 100% ;
  justify-content: center;
  background-color: white;
}

.aia_img {
  width: 900px;
  height: 900px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.gallery_buttons_bar_fits , .gallery_buttons_bar{
  bottom: 0%;
  color: #fff;
  position: absolute;
  z-index: 1;
  display: flex;
}

.gallery_buttons_bar{
  width: 100%;
  justify-content: center;
}

.gallery_buttons, .gallery_buttons_fits{
  background-color: rgba(98,103,108,0.7);
}

.gallery_buttons_fits{
 width: 10%;
 display: flex;
 justify-content: center;
 max-width: 70px;
}

@media all and (max-width: 1000px) {
  .gallery { 
    display: flex;
    flex-direction: column;
    height : 100% ;
  }

  .gallery_img {
    width : 100% ;
    height: 70vh;
  }
}

@media all and (max-width: 530px) {
  
  .gallery_buttons_bar{
    flex-wrap: wrap;
  }

  .sdo_buttons{
    flex-basis: 50%;
  }

  .fits_buttons{
    flex-basis: 20%;
  }
}

@media all and (max-width: 450px) {
  .aia_img {
    width: 180vw;
    height: auto;
    object-fit: initial;
    max-width: initial;
    max-height: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .modal-input {
    flex-direction: column;
  }

  .modal-label {
    padding-right: 0px;
  }
}

a.close-modal{
  border-bottom: initial !important;
}

.modal-footer {
  margin-top: 10px;
  padding: 10px 0px 0px 10px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.btn-apply {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-apply:focus,
.btn-apply.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-apply:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-close {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-close:focus,
.btn-close.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}

.btn-close:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.modal-input {
  display: flex;
}

.modal-label {
  padding-right: 10px;
  margin: auto ; 
  font-weight: bold;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  width: 50%;
  align-items: flex-end;
  bottom: 0;
  right: 0;
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 999; /* Add a z-index if needed */
  bottom: 30px; /* 30px from the bottom */
  overflow-wrap: anywhere;
}

@media all and (max-width: 480px) {
  #snackbar {
    width: 100%;
  }
}

#snackbar button {
  background-color: #919498;
  color : #333;
  padding: 5px 8px 5px 8px;
  margin: 0px 0px 5px 10px;
  float: right;
  border: 1px solid transparent;
}

#snackbar button:hover {
  border: 1px solid white;
  color: white;
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#snackbar.fadeout {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadeout 0.5s ;
  animation: fadeout 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.chart {
  margin: auto;
  background: rgba(98,103,108,0.7);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  max-width: 500px;
  width: 80%;
}
  .chart span {
      /* You can modify the value below to change the distance between the percentage number and the bar */
      margin-left: 5px;
      color: #fff;
      font-weight: bolder;
  }

.progress-bar {
  /* You can modify the total time used for the animation here */
  animation: load 40s normal forwards;
  /* 
  Add a little spice by having a shadow below the bar.
  Feel free to comment out this line below to have an even LITE version :D 
  */
  box-shadow: 0 10px 40px -10px #fff;

  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
} 

@keyframes load {
  0% {
      width: 0;
  }
  100% {
      /* You need to change the percentage below to match the value in the corresponding <span> */
      width: 100%;
  }
}